[uwsgi]
master = true
socket = {{ template_uwsgi_socket }}
processes = {{ (ansible_processor_cores / 1)|int }}
base = {{ store_dir }}/web
home = {{ ga4gh_virtualenv }}
env = PYTHONPATH={{ store_dir }}/web
env = LD_LIBRARY_PATH={{ env_ld_library_path }}
env = GA4GH_CONF={{store_dir}}/web/ga4gh_{{template_array_name}}.conf
uid = {{ client_user_name }}
gid = {{ group_name }}
wsgi_file =  {{ store_dir }}/web/wsgi.py
module = wsgi
callable = application
chmod-socket = 666
logger = file:/tmp/uwsgi_{{ template_array_name }}.log
no-default-app = true
need-app = true
